.row1-rightside {
  top: 139px;
  left: 1377px;
  width: 600px;
  height: 610px;
  box-shadow: 0px 0px 8px #efeff4;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin: 10px 20px;
  padding: 10px;
}

.row1-rightside-header {
  align-items: center;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px dashed #5a5e9a;
  height: 100px;
}

.row1-rightside-select {
  padding: 0px 230px;
  display: flex;
}
.row1-rightside-select div {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #595d9a;
}

.row1-rightside-select select {
  border: none;
  border-style: none;
  outline: none;
  background-color: transparent;
}

#row1-rightside {
  margin: 20px auto;
  height: 280px;
}

.row1-rightside-select span,
.row1-rightside span {
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #5a5e9a;
  font-weight: 400;
}
