.row4-leftside-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.row4-leftside {
  width: 1200px;
  height: 570px;
  box-shadow: 0px 0px 8px #efeff4;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin: 10px 20px;
  padding: 10px;
}

.row4-left-table {
  width: 600px;
  height: 600px;
  padding: 10px;
}

.row4-right-table {
  width: 600px;
  height: 600px;
  padding: 10px;
}

h4 {
  color: #5a5e9a;
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #989abc;
}

p {
  width: 400px;
}

.table-wrapper {
  display: flex;
  margin: 10px;
  height: 30px;
  border-bottom: 1px dashed #5a5e9a;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  padding-bottom: 50px;
}

button {
  width: 100px;
  height: 30px;
  background: transparent url("img/background.png") 0% 0% no-repeat padding-box;
  border: 1px solid #5a5e9a74;
  border-radius: 4px;
  opacity: 1;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: #5a5e9a;
}

button:hover {
  background: #88b1f2;
  color: white;
}

div > img {
  height: 25px;
  width: 25px;
}

button > img {
  height: 10px;
  width: 10px;
}
