* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.row2 {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.date {
  color: #5a5e9a;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  color: #5a5e9a;
}
