* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

.row1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.row2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.date {
  color: #5a5e9a;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  color: #5a5e9a;
}

td {
  height: 100px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #88b1f2;
}
