.row1-leftside {
  top: 139px;
  left: 249px;
  width: 1200px;
  height: 670px;
  box-shadow: 0px 0px 8px #efeff4;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin: 10px 20px;
  padding: 10px;
}

.row1-leftside-header {
  align-items: center;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px dashed #5a5e9a;
}

.row1-leftside-header-rightside {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.row1-leftside-select {
  padding: 15px 450px;
  margin-top: 10px;
  display: flex;
}

.row1-leftside-select > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.row1-leftside-select select {
  border: none;
  border-style: none;
  outline: none;
  background-color: transparent;
}

.letfside-tablerow {
  height: 200px;
}

.row1-leftside-tablerow {
  max-height: 380px;
  overflow-y: auto;
}

.row1-leftside-table span {
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  color: #5a5e9a;
}

table.letfside-tablerow {
  border-collapse: collapse;
}

table.letfside-tablerow tr,
td {
  border-bottom: 1px solid #efefef;
  border-collapse: collapse;
}

.siparis-info {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  color: #5a5e9a;
}

.letfside-tablerow td:nth-child(n + 2) span {
  margin-left: 20px;
}

.letfside-tablerow td:nth-child(3) span {
  margin-left: 35px;
}

.letfside-tablerow tr td:last-child span {
  margin: 10px;
}

td {
  width: 170px;
  height: 40px;
  align-items: center;
}
