* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

canvas {
  width: 100px;
  height: 17px;
  margin-right: 50px;
  margin-left: -30px;
  margin-bottom: 50px;
}

.date {
  color: #5a5e9a;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-weight: bold;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  color: #5a5e9a;
}
